# PostgreSQL
POSTGRES_USER=${{ production.POSTGRES_USER }}
POSTGRES_PASSWORD=${{ production.POSTGRES_PASSWORD }}
POSTGRES_DB=${{ production.POSTGRES_DB }}

# PgBouncer
DB_HOST=${{ production.DB_HOST }}
DB_PORT=${{ production.DB_PORT }}
DB_NAME=${{ production.DB_NAME }}
DB_USER=${{ production.DB_USER }}
DB_PASSWORD=${{ production.DB_PASSWORD }}
ADMIN_USERS=${{ production.ADMIN_USERS }}
POOL_MODE=${{ production.POOL_MODE }}
MAX_CLIENT_CONN=${{ production.MAX_CLIENT_CONN }}
DEFAULT_POOL_SIZE=${{ production.DEFAULT_POOL_SIZE }}
MIN_POOL_SIZE=${{ production.MIN_POOL_SIZE }}
RESERVE_POOL_SIZE=${{ production.RESERVE_POOL_SIZE }}
AUTH_TYPE=${{ production.AUTH_TYPE }}
AUTH_FILE=${{ production.AUTH_FILE }}

# PostgreSQL connection aliases used by PgBouncer
PGBOUNCER_DB_HOST=${{ production.PGBOUNCER_DB_HOST }}
PGBOUNCER_DB_PORT=${{ production.PGBOUNCER_DB_PORT }}
PGBOUNCER_DB_NAME=${{ production.PGBOUNCER_DB_NAME }}
PGBOUNCER_DB_USER=${{ production.PGBOUNCER_DB_USER }}
PGBOUNCER_DB_PASSWORD=${{ production.PGBOUNCER_DB_PASSWORD }}

# MySQL
MYSQL_USER=${{ production.MYSQL_USER }}
MYSQL_PASSWORD=${{ production.MYSQL_PASSWORD }}
MYSQL_ROOT_PASSWORD=${{ production.MYSQL_ROOT_PASSWORD }}

# RabbitMQ
RABBITMQ_DEFAULT_USER=${{ production.RABBITMQ_DEFAULT_USER }}
RABBITMQ_DEFAULT_PASS=${{ production.RABBITMQ_DEFAULT_PASS }}
RABBITMQ_DISK_FREE_LIMIT=${{ production.RABBITMQ_DISK_FREE_LIMIT }}
RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=${{ production.RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS }}

# Jenkins
JENKINS_PASSWORD=${{ production.JENKINS_PASSWORD }}

# MinIO
MINIO_ROOT_USER=${{ production.MINIO_ROOT_USER }}
MINIO_ROOT_PASSWORD=${{ production.MINIO_ROOT_PASSWORD }}

# RustFS
RUSTFS_ACCESS_KEY=${{ production.RUSTFS_ACCESS_KEY }}
RUSTFS_SECRET_KEY=${{ production.RUSTFS_SECRET_KEY }}
RUSTFS_VOLUMES=${{ production.RUSTFS_VOLUMES }}
RUSTFS_ADDRESS=${{ production.RUSTFS_ADDRESS }}
RUSTFS_CONSOLE_ADDRESS=${{ production.RUSTFS_CONSOLE_ADDRESS }}
RUSTFS_CONSOLE_ENABLE=${{ production.RUSTFS_CONSOLE_ENABLE }}
RUSTFS_CORS_ALLOWED_ORIGINS=${{ production.RUSTFS_CORS_ALLOWED_ORIGINS }}
RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS=${{ production.RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS }}
RUSTFS_OBS_LOGGER_LEVEL=${{ production.RUSTFS_OBS_LOGGER_LEVEL }}
RUSTFS_UNSAFE_BYPASS_DISK_CHECK=${{ production.RUSTFS_UNSAFE_BYPASS_DISK_CHECK }}

# Redis
# No external variables are currently required.
